.electron-ui-title-bar {
  position: relative;
  background-color: #eee;
  padding: .4rem;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #aaa;
  .drag-zone {
    -webkit-app-region: drag;
    flex-grow: 1;
    display: flex;
    align-items: center;
    user-select: none;
    .win-icon {
      font-size: 2rem;
      display: inline-block;
      margin-right: 1rem;
      user-select: none;
      >*{
        display: block;
      }
    }
    .win-title {
      user-select: none;
      font-size: 1.6rem;
      display: inline-block;
    }
  }

  .win-buttons{
    font-size: 1.4rem;
    .u-button {
      margin-left: .2rem;
    }
  }
}