/*icon size rules*/
$icon-small-size: 12px;
$icon-normal-size: 16px;
$icon-large-size: 20px;
$icon-xl-size: 24px;
/*font size rules*/
$font-small-size: 12px;
$font-normal-size: 14px;
$font-large-size: 16px;
$font-xl-size: 20px;