.icon-item {
  background-color: #aaa;
}
.icon-part {
  font-size: 3rem;
  text-align: center;
  padding: 5px;
  color: #333;
  background-color: #eee;
}
.icon-name-part {
  background-color: #aaa;
  text-align: center;
  padding: .5rem;
  font-size: 1.4rem;
}
.icon-name-str {
}
.icon-name-key {
  background-color: #555;
  color: #fff;
  padding: 0 .4rem;
  margin: 0 .4rem;
}